/* -------PAGINA SOBRE NOSOTROS */
#containerAboutus{
    padding: 0%;
}
.descripcion{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    align-items: center;
    background-image: url(../assets/fondomanga.jpg);
}
.comentarios{
    border: 3px solid black;
    background-color: white;
   
    padding: 0.25rem;
}
.comentarios textarea{
    resize: none;
}
.comentarios--campo{
    padding: 0.25rem;
}
.nombremarca{
    background-color: white;
    
    margin-bottom: 1rem;
    border: 3px solid black;
    padding: 0.15rem;
}
.historia{
    background-color: white;
    margin-bottom: 1rem;
    border: 3px solid black;
    width: 85vh;
}
p{
    text-align: center;
}