/**--------PAGINA INDUMENTARIA----------**/
@import "map";
#containerIndumentaria{
    padding: 0%;
}
.indumentaria{
    display: grid;
    grid-template-areas: 
    "item1 item2 item3";
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    background-image: url(../assets/fondomanga.jpg);   
    i:hover{
        cursor: pointer;
    }
}
.indumentaria img{
    height: 10rem;
    width: 10rem;
}
.indumentaria__item1{
    @include grid-item(1, 1);
    grid-area: item1;
    border: map-get($item-box-design,border);
    display: map-get($item-box-design,display);
    background-color: map-get($item-box-design,color);
    box-shadow: map-get($item-box-design,box-shadow);
    flex-direction: map-get($item-box-design ,flex-direction);
    align-items: map-get($item-box-design , $key:align-items);
    i{
        padding-bottom: 0.5rem;
    }
}
.indumentaria__item2{
     @include grid-item(1, 2);
     @extend .indumentaria__item1;
     grid-area: item2;
}
 .indumentaria__item3{
     @include grid-item(1, 3);
     @extend .indumentaria__item1;
     grid-area: item3;
}
form{
    padding-top: 1rem;
}
p{
    font-weight: bold;
    padding-top: 0.25rem;
}