/* ------PAGINA LOGOUT----------- */
@import "map";
#containerLogout{
    padding: 0%;
}
.logout{
    grid-area: logout;
    display: map-get($item-box-design ,display );
    flex-direction: map-get($item-box-design , flex-direction );
    padding: 3rem;
    justify-content: space-around;
    align-items: map-get($item-box-design , align-items );
    background-image: url(../assets/fondomanga.jpg);
    height: 100vh;
}
.logout img{
    border: 6px solid black;
}
.logout__saludo{
    background-color: white;
    padding: 1rem;
    border: 5px solid black;
}
