$item-box-design:(
    border: 3px solid black,
    display: flex,
    flex-direction: column,
    align-items: center,
    color: white,
    box-shadow: 15px 15px 10px black,
);
// Mapa y Mixin con parámetro
// falta sumar variables al mapa item-box design para pagina registrarse y logout
// y cambiarle al nombre ya que se va a usar en varios lugares 