/* -------PAGINA PARA REGISTRARSE */
#containerRegistrarse{
    display: grid;
    grid-template-areas: 
    "header"
    "formularioRegistro"
    "footer"
    ;
    padding: 0%;
    height: 100vh;
}
.formularioRegistro{
    grid-area: formularioRegistro;
    @include grid-item(2, 1);
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding: 3rem;
    justify-content: space-around;
    background-image: url(../assets/fondomanga.jpg);
    height: 100vh;
}
.formularioRegistro__datosUsuario{
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 1rem;
}
.formularioRegistro__datosUsuario--datosPersonales{
    padding: 0.5rem;
}
.formularioRegistro__datosUsuario--datosPersonales label input{
    padding: 2.5rem;
}
#fieldset1{
    padding: 1rem;
}
#fieldset2{
    padding: 1rem;
}