* {
  padding: 0%;
  margin: 0%;
}

body {
  font-family: 'Roboto Slab', serif;
  padding: 0%;
  margin: 0%;
}

/**---- Navber -----**/
#container {
  padding: 0px;
  height: 100vh;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  -webkit-box-shadow: 0px 15px 15px white;
          box-shadow: 0px 15px 15px white;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  list-style-type: none;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar ul li {
  display: inline-block;
  padding: 0.5rem;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  color: white;
}

/**----FOOTER-------**/
.footer {
  background-color: black;
  height: 3.5rem;
  -webkit-box-shadow: 0px -15px 15px white;
          box-shadow: 0px -15px 15px white;
  color: white;
  text-decoration: none;
}

.footer .footer__content1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__content1Socials a {
  padding: 1rem;
  padding-bottom: 1.5rem;
  padding-top: 2rem;
}

.footer .footer__content1Socials i {
  color: white;
  text-shadow: none;
  -webkit-box-shadow: 3px 3px 5px #d11b1b;
          box-shadow: 3px 3px 5px #d11b1b;
}

.footer .footer__content1Aboutus a {
  text-decoration: none;
  color: white;
}

.footer .footer__content1Aboutus a:hover {
  text-decoration: underline;
}

/**------- INDEX -------**/
.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 85vh;
  background-image: url(../assets/fondomanga.jpg);
  background-size: contain;
}

.section .section__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: -10px -10px 15px black, 10px 10px 15px black;
          box-shadow: -10px -10px 15px black, 10px 10px 15px black;
}

/**----PAGINA ACCESORIOS------**/
#containerAccesorios {
  padding: 0%;
  height: 100vh;
}

.accesorios {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "item1 item2 item3" "item4 item5 item6";
  height: 100vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../assets/fondomanga.jpg);
}

.accesorios img {
  height: 10rem;
  width: 10rem;
}

.accesorios i:hover {
  cursor: pointer;
}

.accesorios__item1, .accesorios__item2, .accesorios__item3, .accesorios__item4, .accesorios__item5, .accesorios__item6 {
  margin: 0.5rem;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: item1;
  grid-row: 1;
  grid-column: 1;
  border: 3px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-shadow: 15px 15px 10px black;
          box-shadow: 15px 15px 10px black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accesorios__item1 i, .accesorios__item2 i, .accesorios__item3 i, .accesorios__item4 i, .accesorios__item5 i, .accesorios__item6 i {
  padding-bottom: 0.5rem;
}

.accesorios__item2 {
  grid-row: 1;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: item2;
}

.accesorios__item3 {
  grid-row: 1;
  grid-column: 3;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: item3;
}

.accesorios__item4 {
  grid-row: 1;
  grid-column: 4;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: item4;
}

.accesorios__item5 {
  grid-row: 1;
  grid-column: 5;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: item5;
}

.accesorios__item6 {
  grid-row: 1;
  grid-column: 6;
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: item6;
}

form {
  padding-top: 1rem;
}

p {
  font-weight: bold;
  padding-top: 0.25rem;
}

/**--------PAGINA INDUMENTARIA----------**/
#containerIndumentaria {
  padding: 0%;
}

.indumentaria {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "item1 item2 item3" "item4 item5 item6";
  height: 100vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../assets/fondomanga.jpg);
}

.indumentaria i:hover {
  cursor: pointer;
}

.indumentaria img {
  height: 10rem;
  width: 10rem;
}

.indumentaria__item1, .indumentaria__item2, .indumentaria__item3, .indumentaria__item4, .indumentaria__item5, .indumentaria__item6 {
  margin: 0.5rem;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: item1;
  border: 3px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-shadow: 15px 15px 10px black;
          box-shadow: 15px 15px 10px black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.indumentaria__item1 i, .indumentaria__item2 i, .indumentaria__item3 i, .indumentaria__item4 i, .indumentaria__item5 i, .indumentaria__item6 i {
  padding-bottom: 0.5rem;
}

.indumentaria__item2 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: item2;
}

.indumentaria__item3 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: item3;
}

.indumentaria__item4 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: item4;
}

.indumentaria__item5 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 5;
  grid-column: 5;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: item5;
}

.indumentaria__item6 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 6;
  grid-column: 6;
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: item6;
}

form {
  padding-top: 1rem;
}

p {
  font-weight: bold;
  padding-top: 0.25rem;
}

/* -------PAGINA SOBRE NOSOTROS */
#containerAboutus {
  padding: 0%;
}

.descripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../assets/fondomanga.jpg);
}

.comentarios {
  border: 3px solid black;
  background-color: white;
  padding: 0.25rem;
}

.comentarios textarea {
  resize: none;
}

.comentarios--campo {
  padding: 0.25rem;
}

.nombremarca {
  background-color: white;
  margin-bottom: 1rem;
  border: 3px solid black;
  padding: 0.15rem;
}

.historia {
  background-color: white;
  margin-bottom: 1rem;
  border: 3px solid black;
  width: 85vh;
}

p {
  text-align: center;
}

/* ------PAGINA LOGOUT----------- */
#containerLogout {
  padding: 0%;
}

.logout {
  grid-area: logout;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../assets/fondomanga.jpg);
  height: 100vh;
}

.logout img {
  border: 6px solid black;
}

.logout__saludo {
  background-color: white;
  padding: 1rem;
  border: 5px solid black;
}

/* -----PAGINA CARRO DE COMPRAS------- */
#containerCarro {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "sectionCarro" "footer";
  padding: 0%;
}

.tuCompra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem;
  border: 3px solid black;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.sectionCarro {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sectionCarro;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  height: 100vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  align-items: center;
  background-image: url(../assets/fondomanga.jpg);
}

.procesoPago {
  border: 3px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.listado {
  padding: 3rem;
}

.metodosPago {
  padding: 2rem;
}

.metodosPago i {
  padding: 0.5rem;
}

.pagando {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comprar {
  padding: 0.5rem;
}

/* -------PAGINA PARA REGISTRARSE */
#containerRegistrarse {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "formularioRegistro" "footer";
  padding: 0%;
  height: 100vh;
}

.formularioRegistro {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: formularioRegistro;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-image: url(../assets/fondomanga.jpg);
  height: 100vh;
}

.formularioRegistro__datosUsuario {
  border: 3px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 1rem;
}

.formularioRegistro__datosUsuario--datosPersonales {
  padding: 0.5rem;
}

.formularioRegistro__datosUsuario--datosPersonales label input {
  padding: 2.5rem;
}

#fieldset1 {
  padding: 1rem;
}

#fieldset2 {
  padding: 1rem;
}

#sectionError {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(/assets/fondomanga.jpg);
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sectionError div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid black;
  -webkit-box-shadow: 15px 15px 10px black;
          box-shadow: 15px 15px 10px black;
  background-color: white;
}

#sectionError div p {
  padding: 1rem;
}

#sectionError div a {
  padding-bottom: 1rem;
}

#sectionError div h2 {
  font-weight: bold;
}

/* ------MEDIA QUERIES------- */
@media (min-width: 400px) and (max-width: 768px) {
  .accesorios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .indumentaria {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .formularioRegistro {
    height: auto;
  }
  #containerIndumentaria {
    width: 100%;
  }
  .footer {
    padding: 0.5rem;
    margin-top: 0.5rem;
  }
  .footer__content1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__content1Rigths {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1400px) {
  .header {
    height: 6rem;
  }
  .header li {
    padding-top: 3rem;
  }
}
/*# sourceMappingURL=styles.css.map */