//Reset y Body Prederminado
*{
    padding:0%;
    margin: 0%;
}
body{
    font-family: 'Roboto Slab', serif;
    padding: 0%;
    margin: 0%;
}
@import "mixin";
@import "map";
@import "header";
@import "footer";
@import "index";
@import "accesorios";
@import "indumentaria";
@import "aboutus";
@import "logout";
@import "carro";
@import "registrarse";
/* ------MEDIA QUERIES------- */
@media (min-width: 400px) and (max-width:768px) {
    .header{
        height: 8rem;
        position: unset;
    }
    .accesorios{
        display:flex;
        flex-direction:column;
    }
    .indumentaria{
        display: flex;
        flex-direction:column;
    }
    #containerIndumentaria{
        width: 100%;
    }
    .footer__content1{
        display: flex;
        flex-direction: column;
    }
    .footer__content1Rigths{
        display: none;
    }   
}
@media (min-width: 768px) and (max-width:1400px) {
    .header{
        height: 6rem;
        li{
            padding-top: 3rem;
        }
    }
}