*{
    padding:0%;
    margin: 0%;
}
body{
    font-family: 'Roboto Slab', serif;
    padding: 0%;
    margin: 0%;
}
// Mapas y Mixin con parámetro
// falta sumar variables al mapa item-box design para pagina registrarse y logout
// y cambiarle al nombre ya que se va a usar en varios lugares 
$item-box-design:(
    border: 3px solid black,
    display: flex,
    flex-direction: column,
    align-items: center,
    color: white,
    box-shadow: 15px 15px 10px black,
);
@mixin grid-item ($grid-row,$grid-column) {
    grid-row: $grid-row;
    grid-column: $grid-column;
}
/**---- Anidado de Header y Navbar -----**/
#container{
    padding:0px;
    height: 100vh;
}
.header{
    height: 5rem;
    background-color: black;
    position: sticky;
    top: 0%;
    box-shadow: 0px 15px 15px white;
    
    ul{
        display: flex;
        justify-content: space-between;
        width: 100%;
        list-style-type: none; 
        text-align: center;
        align-items: center;   
        li{
            display: inline-block;
            padding: 0.5rem;
            }
        }
    
    a{
        text-decoration: none;
        color: white;
    }
    a:hover{
        text-decoration: underline;
    }
}
.nav{
    padding-top: 1rem;
}
/**------- HOME anidado -------**/
.section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;  
    background-image: url(../assets/fondomanga.jpg);
    background-size: contain;
    .section__image{  
        display: flex;
        height: 70%;
        justify-content: center; 
        box-shadow: -10px -10px 15px black, 10px 10px 15px black;
    }
}
/**----FOOTER Anidado-------**/
.footer {
    background-color: black;
    height: 3.5rem;
    box-shadow: 0px -15px 15px white;
    color: white;
    text-decoration: none;
    .footer__content1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;  
        align-items: center;      
    }
    .footer__content1Socials a{
        padding: 1rem;
        padding-bottom: 1.5rem;
        padding-top: 2rem;
    } 
    .footer__content1Socials i{
        color: white;
        text-shadow: none;
        box-shadow: 3px 3px 5px rgb(209, 27, 27);
    } 
    .footer__content1Aboutus a{
        text-decoration: none;
        color: white;
        
    }
    .footer__content1Aboutus a:hover{
        text-decoration: underline;
    }
}
/**----PAGINA ACCESORIOS------**/
#containerAccesorios{
    padding: 0%;
    height: 100vh;    
}
.accesorios{
    display: grid;
    grid-template-areas: 
    "item1 item2 item3";
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    background-image: url(../assets/fondomanga.jpg);  
    img{
        height: 10rem;
        width: 10rem;
    }
    i:hover{
        cursor: pointer;
    }
}
.accesorios__item1{
    grid-area: item1;
    @include grid-item(1, 1);
    border: map-get($item-box-design,border);
    display: map-get($item-box-design,display);
    background-color: map-get($item-box-design,color);
    box-shadow: map-get($item-box-design,box-shadow);
    flex-direction: map-get($item-box-design ,flex-direction);
    align-items: map-get($item-box-design , $key:align-items);
}    
.accesorios__item2{
    @extend .accesorios__item1;
    @include grid-item(1, 2);
    grid-area: item2;
    
}
.accesorios__item3{
    @extend .accesorios__item1;
    @include grid-item(1, 3);
    grid-area: item3;
}
/**--------PAGINA INDUMENTARIA----------**/
#containerIndumentaria{
    padding: 0%;
}
.indumentaria{
    display: grid;
    grid-template-areas: 
    "item1 item2 item3";
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    background-image: url(../assets/fondomanga.jpg);   
    i:hover{
        cursor: pointer;
    }
}
.indumentaria img{
    height: 10rem;
    width: 10rem;
}
.indumentaria__item1{
    @include grid-item(1, 1);
    @extend .accesorios__item1;
    grid-area: item1;
}
.indumentaria__item2{
     @include grid-item(1, 2);
     @extend .accesorios__item1;
     grid-area: item2;
}
 .indumentaria__item3{
     @include grid-item(1, 3);
     @extend .accesorios__item1;
     grid-area: item3;
}
/* -----PAGINA CARRO DE COMPRAS------- */
#containerCarro{
    display: grid;
    grid-template-areas: 
    "header"
    "sectionCarro"
    "footer"
    ;
    padding: 0%;
}
.tuCompra{
    display: flex;
    padding: 1.5rem;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    
}
.sectionCarro{
    grid-area: sectionCarro;
    @include grid-item(2, 1);
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding: 3rem;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    background-image: url(../assets/fondomanga.jpg);
}
.procesoPago{
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    
}
.listado{
    padding:3rem;
}
.metodosPago{
    padding: 2rem;
}
.metodosPago i{
    padding: 0.5rem;
}
.pagando{
    display: flex;
    flex-direction: column;
}
.comprar{
    padding: 0.5rem;
}
/* -------PAGINA PARA REGISTRARSE */
#containerRegistrarse{
    display: grid;
    grid-template-areas: 
    "header"
    "formularioRegistro"
    "footer"
    ;
    padding: 0%;
    height: 100vh;
}
.formularioRegistro{
    grid-area: formularioRegistro;
    @include grid-item(2, 1);
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding: 3rem;
    justify-content: space-around;
    align-items: center;
    background-image: url(../assets/fondomanga.jpg);
    height: 100vh;
}
.formularioRegistro__datosUsuario{
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    
}
.formularioRegistro__datosUsuario--datosPersonales{
    padding: 0.5rem;
}
.formularioRegistro__datosUsuario--datosPersonales label input{
    padding: 2.5rem;
}
#fieldset1{
    padding: 1rem;
}
#fieldset2{
    padding: 1rem;
}
/* ------PAGINA LOGOUT----------- */
#containerLogout{
    padding: 0%;
}
.logout{
    grid-area: logout;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    justify-content: space-around;
    align-items: center;
    background-image: url(../assets/fondomanga.jpg);
    height: 100vh;
}
.logout img{
    border: 6px solid black;
    
}
.logout__saludo{
    background-color: white;
    
    padding: 1rem;
    border: 5px solid black;
}
/* -------PAGINA SOBRE NOSOTROS */
#containerAboutus{
    padding: 0%;
}
.descripcion{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    align-items: center;
    background-image: url(../assets/fondomanga.jpg);
}
.comentarios{
    border: 3px solid black;
    background-color: white;
   
    padding: 0.25rem;
}
.comentarios textarea{
    resize: none;
}
.comentarios--campo{
    padding: 0.25rem;
}
.nombremarca{
    background-color: white;
    
    margin-bottom: 1rem;
    border: 3px solid black;
    padding: 0.15rem;
}
.historia{
    background-color: white;
    
    margin-bottom: 1rem;
    border: 3px solid black;
}
/* ------MEDIA QUERIES------- */
@media (min-width: 400px) and (max-width:768px) {
    .header{
        height: 8rem;
        position: unset;
    }
    .accesorios{
        display:flex;
        flex-direction:column;
    }
    .indumentaria{
        display: flex;
        flex-direction:column;
    }
    #containerIndumentaria{
        width: 100%;
    }
    .footer__content1{
        display: flex;
        flex-direction: column;
    }
    .footer__content1Rigths{
        display: none;
    }   
}
@media (min-width: 768px) and (max-width:1400px) {
    .header{
        height: 6rem;
        li{
            padding-top: 3rem;
        }
    }
}